$dinFont: "DINNextLTArabic";
$myrFont: "MyriadPro";

@font-face {
  font-family: "DINNextLTArabic";
  font-display: swap;
  font-weight: bold;
  src: url("../fonts/din/DINBold-3.ttf");
}
@font-face {
  font-family: "DINNextLTArabic";
  font-display: swap;
  font-weight: 300;
  src: url("../fonts/din/DINLIGHT-1.ttf");
}
@font-face {
  font-family: "DINNextLTArabic";
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/din/DINMedium.ttf");
}
@font-face {
  font-family: "DINNextLTArabic";
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/din/DINRegular-3.ttf");
}
@font-face {
  font-family: "MyriadPro";
  font-display: swap;
  font-weight: bold;
  src: url("../fonts/MyriadPro-bold.OTF");
}
@font-face {
  font-family: "MyriadPro";
  font-display: swap;
  font-weight: 300;
  src: url("../fonts/MyriadPro-Light.otf");
}
@font-face {
  font-family: "MyriadPro";
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/MyriadPro-regular.OTF");
}
